{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" >

    <div class="row">

        <div class="col-5 d-flex justify-content-end">
            <h3><strong>{{ date }} </strong> </h3>
        </div>

        <div class="col-2"></div>

        <div class="col-5 d-flex justify-content-start">
            <h3 ><strong id="tt"></strong> </h3>
        </div>

    </div>

</div>
<hr>
<br>

 <div class="container-fluid">
     <div class="row">
         <div class="col-12 d-flex justify-content-center">
             <a id="timein" class="btn btn-outline-primary btn-sm" href="{% url 'timeIn' %}">
                <h3 class="fw-bold">TIME-IN</h3>
             </a>
         </div>


     </div>
     <br>
     <br>
     <div class="row">


        <div class="col-12 d-flex justify-content-center">
             <a name="timeout" class="btn btn-outline-primary btn-sm" href="{% url 'timeOut' %}">
                <h3 class="fw-bold">TIME-OUT</h3>
             </a>
         </div>


     </div>
</div>

<script>
    function digi() {
      var date = new Date(),
          hour = date.getHours(),
          minute = checkTime(date.getMinutes()),
          ss = checkTime(date.getSeconds());

      function checkTime(i) {
        if( i < 10 ) {
          i = "0" + i;
        }
        return i;
      }

    if ( hour > 12 ) {
      hour = hour - 12;
      if ( hour == 12 ) {
        hour = checkTime(hour);
      document.getElementById("tt").innerHTML = hour+":"+minute+":"+ss+" AM";
      }
      else {
        hour = checkTime(hour);
        document.getElementById("tt").innerHTML = hour+":"+minute+":"+ss+" PM";
      }
    }
    else {
      document.getElementById("tt").innerHTML = hour+":"+minute+":"+ss+" AM";;
    }
    var time = setTimeout(digi,1000);
    }
</script>

{% endblock content %}